body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container{
    text-align: center;
}

.main-heading{
    height: 65vh;
    background-image: url('/img/h_img.jpeg');
    background-size: cover;
    text-align: center;
}